.productCard {
    position: relative;
    max-width: 250px;
    width: 100%;

    &Img {
        max-width: 250px;
        width: 100%;
        border-radius: 8px;
    }

    &Content {
        margin-top: 38px;

        &Type {
            color: $rose500;
            font-size: 14px;
            font-weight: 500;
        }

        &Food {
            color: $rose900;
            font-size: 16px;
            font-weight: 600;
            margin: 4px 0;
        }

        &Price {
            color: $red;
            font-size: 16px;
            font-weight: 600;
        }
    }
}