* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Text", sans-serif;
}

ul {
    list-style: none;
    padding: 0 !important;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
    padding: 0;
}